<app-container title="Trading: {{ market.name }}" icon="fa-exchange-alt" *ngIf="loaded">
    <div class="w-100 mg-5 flx">
        <div class="w-50 pd-5">
            <div>
                <mat-form-field appearance="standard" class="w-mn30">
                    <mat-select name="impersonate" placeholder="Impersonate" required [(ngModel)]="impersonatedUserAccount">
                        <mat-option *ngFor="let userAccount of userAccounts" [value]="userAccount">
                            {{userAccount.fullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard" class="w-mn30">
                    <mat-label>Volume</mat-label>
                    <input type="number" autocomplete="off" name="volume" matInput required
                        [(ngModel)]="model.volume" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard" class="w-mn30">
                    <mat-label>Price</mat-label>
                    <input type="number" autocomplete="off" name="price" matInput [(ngModel)]="model.price" />
                </mat-form-field>
            </div>
            <div class="mg-y2">
                <button type="button" class="mg-r2" mat-raised-button [color]="isBuy ? 'accent' : 'warn'" (click)="toggle()">
                    <span *ngIf="isBuy">
                        Buy
                    </span>
                    <span *ngIf="!isBuy">
                        Sell
                    </span>
                </button>
                <button type="button" color="primary" [disabled]="!impersonatedUserAccount" mat-raised-button
                    (click)="submit()">Submit</button>
            </div>
        </div>
        <div class="w-50 pd-5">
            <div echarts [options]="chartOptions"></div>
        </div>
    </div>
</app-container>