<app-container title="New User Account" icon="fa-edit">
    <form autocomplete="false">
        <div>
            <mat-form-field appearance="standard" class="w-mn30">
                <mat-label>Full name</mat-label>
                <input type="text" name="fullName" autocomplete="false" required matInput
                    [(ngModel)]="model.fullName" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="w-mn30">
                <mat-label>Full address</mat-label>
                <input type="text" name="fullAddress" autocomplete="false" required matInput
                    [(ngModel)]="model.fullAddress" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="w-mn30">
                <mat-label>Email</mat-label>
                <input type="email" name="email" autocomplete="false" required matInput [(ngModel)]="model.email" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="w-mn30">
                <mat-label>Phone</mat-label>
                <input type="tel" name="phone" autocomplete="false" required matInput [(ngModel)]="model.phone" />
            </mat-form-field>
        </div>
        <div>
            <button type="button" color="primary" mat-raised-button (click)="submit()">Submit</button>
        </div>
        <input autocomplete="off" autofill="off" style="display: none;"
            name="anything-but-a-keyword-the-browser-may-check-against" />
    </form>
</app-container>