<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <strong class="mg-l2">Stellar Showcase</strong>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <app-menu [items]="menuItems" (navigated)="sidenav.toggle()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <!-- <app-loading-screen></app-loading-screen> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>